.announcement {
    -fx-background-color: #6c6c6c;
}

.menu1 {
    -fx-border-color: #6c6c6c;
    -fx-border-width: 5px;
    -fx-border-radius: 10px;
}

.gui1 {
    -fx-border-color: #6c6c6c;
    -fx-border-width: 5px;
    -fx-border-radius: 10px;
}

.barColor {
    -fx-border-color: #6c6c6c;
    -fx-border-radius: 5px;
    -fx-background-color: #d1d1d1;
}